<div class="app-sidebar">
  <div class="logo-wrapper d-flex align-items-center">
    <h1>Test Angular App</h1>
  </div>
  <ul class="nav-menu" role="navigation">
    <li routerLink="dashboard" #urla="routerLinkActive" routerLinkActive="active" class="menu-item text-primary">Dashboard</li>
    <li routerLink="products" #urla="routerLinkActive" routerLinkActive="active" class="menu-item text-primary">Products</li>
    <li routerLink="categories" #urla="routerLinkActive" routerLinkActive="active" class="menu-item text-primary">Categories</li>
  </ul>
</div>
