<div class="modal-header flex-column" style="border-color: #fafafa;">
  <fa-icon [icon]="['fal','check-circle']" size="4x" style="margin: 15px auto;" class="text-success"></fa-icon>
  <h5 class="modal-title h3 text-center w-100" style="font-weight: 400;">{{ title }}</h5>
</div>
<div class="modal-body py-4 px-5">
  <p class="lead text-center mb-0">{{ message }}</p>
</div>
<div class="modal-footer d-flex justify-content-center p-2" style="border-color: #fafafa;">
  <button type="button" class="btn btn-primary btn-invisible mr-2" (click)="activeModal.close('')">
    <fa-icon icon="check" class="mr-1"></fa-icon>
    OK
  </button>
</div>
